*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

:root {
    --primarydark: #171717;
    --off-white: #f6f6f6;
    --pinkdark: #d13d4f;
    --green: #538210;
    --grey: #666b71;
    --blue: #333f79;
  }

body{
    background-color: white;
    font-family: 'Urbanist', sans-serif;
}

main {
    background-color: var(--off-white);
}

header nav ul li a i{
      font-size: 2em;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5em;
    background-color: var(--primarydark);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav img{
    width: auto;
    height: 3.4em;
    cursor: pointer;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    color: white;
    margin: 0 2em;
}

.home{
    width: 50%;
    margin: 9.2vh auto;
    padding: 1em;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.home h1{
    font-size: 6em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    color:var(--primarydark);
    margin-bottom: 0.5em;
    margin-top: 1em;
}

.home h2{
    text-align: center;
    font-size: 2em;
}

.home p{
    color:var(--primarydark);
    font-size: 2em;
    text-align: center;
    margin-bottom: 2.5em;
}

section{
    height: 70vh;
    padding: 4em 2em;
    display: flex;
    align-items: center;
}

section.in{
    background-color: white;
}

section.par{
    background-color: var(--off-white);
}

div.container-tarjeta{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 2em 5em;
}

div.container-tarjeta img{
    width: 50em;
}

div.container-tarjeta div.tarjeta div a{
    font-size: 1.4em;
    padding: 1em 2em;
    display: inline-block;
    margin-top: 1.5em;
}

div.container-tarjeta div.tarjeta div a:hover{
    transition: .3s ease;
}

.tarjeta{
    padding: 5em;
}

.tarjeta h2{
    font-size: 5em;
    font-weight: 700;
}

.tarjeta p{
    font-size: 2em;
    color: var(--primary);
    margin: 1em 0;
}

div.container-tarjeta img{
    border-radius: 100%;
}

div.container-tarjeta a{
    border-radius: 50px;
    color: white
}
/* ----------------TEXTOS EDITADOS SEGÚN SUS CANCIONES---------------- */

/* Flor de loto -------------- */
.container-tarjeta .fdl{
    color: var(--pinkdark);
}

div.container-tarjeta div.tarjeta div .fdlgm{
    background-color: var(--pinkdark);
    border: none;
    color: white !important;
}

div.container-tarjeta div.tarjeta div .fdlgm:hover{
    background-color: var(--off-white);
    color: var(--pinkdark) !important;
}

div.container-tarjeta div.tarjeta div .fdl2{
    background-color: var(--pinkdark);
    border: none;
    color: white !important;
}

div.container-tarjeta div.tarjeta div .fdl2:hover{
    background-color: var(--off-white);
    color: var(--pinkdark) !important;
}

/* Lirio del valle ------------------*/

.container-tarjeta .ldv{
    color: var(--green);
}

div.container-tarjeta div.tarjeta div .ldvgm{
    background-color: var(--green);
    border: none;
    color: white !important;
}

div.container-tarjeta div.tarjeta div .ldvgm:hover{
    background-color: var(--off-white);
    color: var(--green) !important;
}

div.container-tarjeta div.tarjeta div .ldv2{
    background-color: var(--green);
    border: none;
    color: white !important;
}

div.container-tarjeta div.tarjeta div .ldv2:hover{
    background-color: var(--off-white);
    color: var(--green) !important;
}

/* -------------- Última batalla --------
 */
.container-tarjeta .ub{
    color: var(--grey);
}

div.container-tarjeta div.tarjeta div .ubgm{
    background-color: var(--grey);
    border: none;
    color: white !important;
}

div.container-tarjeta div.tarjeta div .ubgm:hover{
    background-color: var(--off-white);
    color: var(--grey) !important;
}

div.container-tarjeta div.tarjeta div .ub2{
    background-color: var(--grey);
    border: none;
    color: white !important;
}

div.container-tarjeta div.tarjeta div .ub2:hover{
    background-color: var(--off-white);
    color: var(--grey) !important;
}

/* --------------Arrebol---------- */

.container-tarjeta .ab{
    color: var(--blue);
}

div.container-tarjeta div.tarjeta div .abgm{
    background-color: var(--blue);
    border: none;
    color: white !important;
}

div.container-tarjeta div.tarjeta div .abgm:hover{
    background-color: var(--off-white);
    color: var(--blue) !important;
}

div.container-tarjeta div.tarjeta div .ab2{
    background-color: var(--blue);
    border: none;
    color: white !important;
}

div.container-tarjeta div.tarjeta div .ab2:hover{
    background-color: var(--off-white);
    color: var(--blue) !important;
}


@media (max-width: 1200px){
        .home{
            width: 70%;
        }

        div.container-tarjeta {
            width: 90%;
        }

        div.container-tarjeta img{
            width: 30em;
            height: 30em;
        }
    }

    @media (max-width: 992px){
        div.container-tarjeta img{
            display: none;
        }

        div.container-tarjeta .tarjeta{
            padding: 1em;
        }

        section{
            height: 60vh;
        }

/*     @media (max-width: 768px){

    } */

    @media (min-width: 1201px){
        main section{
            height: 78em;
        }
    }

    @media (max-width: 576px){
        .home{
            width: 90%;
        }

        div.container-tarjeta{
            padding: 1em;
        }

        html{
            font-size: 40%;
        }

        section{
            height: 70vh;
        }

        a.ubgm,
        .ub2,
        .abgm,
        .ab2,
        .fdlgm,
        .fdl2,
        .ldvgm,
        .ldv2{
            font-size: 0.5em;
            margin: 0.5em 0 !important;
            padding: 0.5em 2em !important;
            font-size: 1.2em !important;
        }

        div.container-tarjeta div.tarjeta div .ubgm{
            background-color: #666b71;
            border: none;
            color: white !important;
        }
    }

    @media (max-height: 1140px){
        section{
            height: 80em;
        }
    }


    @media (max-height: 600px){
        section{
            height: 62em;
        }
    }

    @media (max-height: 360px){
        section{
            height: 55em;
        }
    }
}